h2{ 
	text-align: center;
	border: solid;
	border-color: teal;
	margin-left:  200px;
	margin-right: 200px;
}
.name {
	font-style: italic;
	text-decoration: underline;

}

#pic {
	background-color: #e6e6e6; 
}

img {
	display: block;
	margin: 0 auto;
}

.d1 {
	display: block;
	text-align: center;
}